body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar {
    position: fixed;
    width:100%;
    display: flex;
    align-items: center;
    background-color: skyblue;
    transition: background-color 0.3s, color 0.3s;
}

.logo img {
    height: 50px; /* Adjust height as needed */
    margin: 10px 20px; /* Spacing around the logo */
}

#navbar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

#navbar a:hover {
    color: #0073e6;
}

#search-bar {
    margin-left: auto; /* Aligns the search bar to the right */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the search bar container */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container i {
    position: absolute;
    left: 10px; /* Position the icon inside the search bar */
    color: #ccc;
}

#search-bar {
    padding: 10px 10px 10px 35px; /* Add padding to leave space for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    transition: border 0.3s ease;
}

#search-bar:focus {
    border-color: #0073e6;
}


section {
    padding: 100px 20px;
    margin-top: 60px; /* To prevent content overlap with fixed navbar */
}

#home {
    text-align: center;
}

.deal-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.deal-images img {
    margin: 0 10px;
    width: 300px; /* Adjust width as needed */
}

#products {
    background-color: #f9f9f9;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Space between items */
    justify-items: center; /* Center items in grid */
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    height: auto;
}

.about-us {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_Ej1oxKpb8fOHSyMJbb9-GbwyOCa-uUuUgqYnoTi9FI1EQArbFj669xM&s=10');
    background-size: cover;
    height: 600px
    color: white;
    padding: 50px;
    text-align: center;
}

#contact {
    text-align: center;
}

.social-media {
    margin-top: 20px;
}

.social-media img {
    margin: 0 10px;
    width: 30px; /* Adjust the size of the icons */
    height: auto;
}


.social-media {
    margin-top: 20px;
}

.social-media img {
    margin: 0 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
